{% extends 'base.html' %}
{% block education %}
    <!-- Education Section -->
<section id="education">
    <h2>Education</h2>
    <div class="education-entry">
        <h3>Cambridge Institute of Technology</h3>
        <p><strong>Degree:</strong> B.E. in CSE(Internet Of Things & Cyber Security inc. BlockChain Tech)</p>
        <p><strong>Year:</strong> 2023 – 2027</p>
        <p><strong>CGPA:</strong> 8.75</p>
    </div>
    <div class="education-entry">
        <h3>12th Standard</h3>
        <p><strong>Institution:</strong> Kendriya vidyalaya, 2023</p>
        <p><strong>Percentage:</strong> 75%</p>
    </div>

    <div class="education-entry">
        <h3>10th Standard</h3>
        <p><strong>Institution:</strong> Kendriya vidyalaya, 2021</p>
        <p><strong>Percentage:</strong> 85%</p>
    </div>
</section>
{% endblock education %}